POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<database_name>
DATABASE_URL=postgresql://<username>:<password>@127.0.0.1:5433/<database_name>

NEXT_PUBLIC_API_URL=http://localhost:3000

JWT_SECRET=<secret_key>
JWT_EXPIRES_IN=1d