@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  /* Title */
  .title-xl {
    @apply text-lg;
    @apply md:text-2xl;
    @apply lg:text-3xl;
  }
  .subtitle-xl {
    @apply text-xs;
    @apply lg:text-base;
  }
  /* Label */
  .label-lg {
    @apply text-xs;
    @apply lg:text-base;
  }
  .label-sm {
    @apply text-xs;
    @apply lg:text-base;
  }
  /* Content */
  .content-xl {
    @apply text-xl;
    @apply md:text-2xl;
    @apply lg:text-3xl;
  }
  /* Others */
  .search-bar {
    @apply text-sm md:text-base;
  }
}
